<div class="page-head">
  <div class="d-flex flex-column">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="../liste">Table</a></li>
    </ul>
  </div>
</div>
<div class="page-content">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <div class="bg-white fix-shadow fix-radius w-100 p-5">
          <div class="form-row mb-2">
          </div>
          <table class="table table-responsive-xl mt-3 table-hover table-borderless table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Assignee</th>
                <th style="cursor:pointer" >
                    <mat-icon (click)="this.sort(true)">expand_more</mat-icon>
                    <mat-icon (click)="this.sort(false)">expand_less</mat-icon>
                </th>
                <th>Actions</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let todo of this.todos  | paginate: { itemsPerPage:size, currentPage: p }  ; let i=index">
                <th scope="row">{{todo?.id}}</th>
                <td>{{todo?.title}}</td>
                <td>{{this.userSearch(todo?.userId)}}</td>
                <td>{{(todo?.completed) ? 'Done' : 'In Progress'}}</td>
                <td>
                    <button mat-mini-fab data-toggle="modal" (click)="this.selectedItem =todo"
                      [attr.data-target]="'#updateModal'" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab data-toggle="modal" class="ml-2" (click)="this.selectedItem =todo"
                      [attr.data-target]="'#deleteModal'" mat-fab color="warn" aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls class="center-text" style="display: flex;
            justify-content: center;" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<div  class="modal fade" [id]="'deleteModal'" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document"  *ngIf="this.selectedItem">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title display-2" id="deleteModalLabel" >Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span style="font-weight: 500">{{this.selectedItem.id}},</span> 
        You are making changes on it
      </div>
      <h6 class="ml-3">Are you sure you want to delete ?</h6>
      
      <div class="modal-footer">
        <button type="button" (click)="this.delete(this.selectedItem.id)"  class="btn btn-secondary"
          data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


<div  class="modal fade" [id]="'updateModal'" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" *ngIf="this.selectedItem">
    <div class="modal-content">
      <div class="modal-header" >
        <h3 class="modal-title" id="deleteModalLabel">Edit</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {{this.selectedItem?.id}}
        You are making changes on it
      </div>

      <section class="example-section">
        <mat-checkbox class="example-margin ml-3"  [checked]="this.selectedItem?.completed"  [(ngModel)]="this.selectedItem.completed"></mat-checkbox>
        <mat-form-field class="example-form-field ml-4">
          <mat-label>Change Value</mat-label>
          <input matInput type="text"  [(ngModel)]="this.selectedItem.title" value="{{this.selectedItem?.title}}">
          <button mat-button *ngIf="this.selectedItem.title" matSuffix mat-icon-button aria-label="Clear" (click)="this.selectedItem.title=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </section>
      
          <div class="modal-footer">
          <button mat-raised-button color="primary" data-dismiss="modal"  (click)="this.update(this.selectedItem?.id)">Save</button>
        
      </div>
    </div>
  </div>
</div>




